@tailwind base;
@tailwind components;
@tailwind utilities;

/* Improve scrolling */
html {
  scroll-behavior: smooth;
}

/* Better rendering */
body {
  font-family: "Calibri", sans-serif;
  background: #ffffff;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", sans-serif;
}

.tagline {
  font-family: Georgia, serif;
  font-style: italic;
}

/* Faster image rendering */
img {
  max-width: 100%;
  height: auto;
}
