@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Calibri', sans-serif;
  background: #ffffff;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS', sans-serif;
}

.tagline {
  font-family: 'Georgia', serif;
  font-style: italic;
}
